{% csrf_token %}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog confirm-delete">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete !
            </div>
            <div class="modal-body">
                Do you want delete item ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" id="delete-object">Delete</button>
                <input type="hidden" id="method" name="_method" value="delete">
            </div>
        </div>
    </div>
</div>