{% load static %}
<div class="sidebar">
	<!-- Sidebar user panel (optional) -->
	<div class="user-panel mt-3 pb-3 mb-3 d-flex">
		<div class="image">
			<img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
		</div>
		<div class="info">
			<a href="#" class="d-block">{{ request.user.username }}</a>
		</div>
	</div>
	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<!-- Add icons to the links using the .nav-icon class
				with font-awesome or any other icon font library -->
            <li class="nav-item">
				<a href="{% url 'admin:dashboards' %}" class="nav-link">
					<i class="nav-icon fas fa-tachometer-alt"></i>
					<p>
						Dashboard
					</p>
				</a>
			</li>
            <li class="nav-item">
				<a href="{% url 'admin:positions:position-list' %}" class="nav-link">
					<i class="nav-icon fas fa-pound-sign"></i>
					<p>
						Positions
					</p>
				</a>
			</li>
            <li class="nav-item">
				<a href="{% url 'admin:skills:skill-list' %}" class="nav-link">
					<i class="nav-icon fas fa-skiing"></i>
					<p>
						Skills
					</p>
				</a>
			</li>
            <li class="nav-item">
				<a href="{% url 'admin:users:user-list' %}" class="nav-link">
					<i class="nav-icon fas fa-users"></i>
					<p>
						Users
					</p>
				</a>
			</li>
            <li class="nav-item">
				<a href="{% url 'admin:teams:team-list' %}" class="nav-link">
					<i class="nav-icon fas fa-user-friends"></i>
					<p>
						Teams
					</p>
				</a>
			</li>
            <li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-project-diagram"></i>
					<p>
						Projects
					</p>
				</a>
			</li>

            <li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-calculator"></i>
					<p>
						Active Logs
					</p>
				</a>
			</li>
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>