{% extends 'base_admin.html' %}
{% block body_class %} sidebar-mini {% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Edit Team</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'admin:dashboards' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'admin:teams:team-list' %}">Skills</a></li>
						<li class="breadcrumb-item active">Edit Team</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
        <form method="post" action="{% url 'admin:teams:team-edit' id=team.pk %}">
            <input type="hidden" value="{{ team.pk }}" name="id" />
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 col-lg-offset-3">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="inputName">Name</label>
                                        <input type="text" name="name" id="inputName" class="form-control" value="{{ team.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Description</label>
                                        <textarea name="description" rows="3" id="inputLevel" class="form-control" placeholder="Input Description">
                                            {{ team.description }}
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLeader">Leader</label>
                                        <select data-placeholder="Select one leader" name="leader_id" class="form-control custom-select">
                                            <option selected value="{{ leader.id }}">{{ leader.username }}</option>
                                            {% for user in users %}
                                                {% if user.id != leader.id %}
                                                    <option value="{{ user.pk }}" >{{ user.username }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Member</label>
                                        <select name="member" class="select2" multiple="multiple" data-placeholder="Select multi member" style="width: 100%;">
                                            {% for member in members %}
                                                <option value="{{ member.pk }}" selected>{{ member.username }}</option>
                                            {% endfor %}
                                            {% for user in users %}
                                                <option value="{{ user.pk }}" >{{ user.username }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            {% include 'show_form_errors.html' with form=form %}
            {% include 'show_message_errors.html'%}

            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin:teams:team-list' %}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Update" class="btn btn-success float-right">
                </div>
            </div>
        </form>
	</section>
	<!-- /.content -->
</div>
{% endblock %}
{% block script %}
    {% include 'script_select.html' %}
{% endblock %}

