{% extends 'base_admin.html' %}
{% block body_class %} sidebar-mini {% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Edit Skill</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'admin:dashboards' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'admin:skills:skill-list' %}">Skills</a></li>
						<li class="breadcrumb-item active">Edit Skill</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
        <form method="post" action="{% url 'admin:skills:skill-edit' id=skill.pk %}">
            <input type="hidden" value="{{ skill.pk }}" name="id" />
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 col-lg-offset-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{{ skill.name }}</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                            </div>
					    </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="inputName">Name</label>
                                        <input type="text" name="name" id="inputName" class="form-control" value="{{ skill.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Level</label>
                                        <input type="text" name="level" id="inputLevel" class="form-control" value="{{ skill.level }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Used Year Number</label>
                                        <input type="number" minlength="1" maxlength="50" name="used_year_number" id="inputLevel" class="form-control" value="{{ skill.used_year_number }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            {% include 'show_form_errors.html' with form=form %}
            {% include 'show_message_errors.html'%}

            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin:skills:skill-list' %}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Update" class="btn btn-success float-right">
                </div>
            </div>
        </form>
	</section>
	<!-- /.content -->
</div>
{% endblock %}
{% block script %}
    {% include 'script_select.html' %}
{% endblock %}

