{% extends 'base_admin.html' %}
{% load i18n %}
{% block body_class %} sidebar-mini {% endblock %}
{% block content %}
<div class="content-wrapper" >
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Skills</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'admin:dashboards' %}">Dashboard</a></li>
						<li class="breadcrumb-item active">Teams</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Teams</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
					<i class="fas fa-minus"></i></button>
					<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
					<i class="fas fa-times"></i></button>
				</div>
			</div>
			<div class="card-body p-0">
				<table class="table table-striped projects">
					<thead>
						<tr>
							<th style="width: 1%">
								Id
							</th>
							<th style="width: 25%">
								Name
							</th>
							<th style="width: 10%">
								Team members
							</th>
							<th style="width: 25%" class="text-center">
                                Action
							</th>
						</tr>
					</thead>
					<tbody>
                        {% for team in teams %}
						<tr id="item-{{ team.pk }}">
							<td>
                                {{ team.id }}
							</td>
							<td>
                                {{ team.name }}
							</td>
							<td>
                                {% for user in team.team_user.all %}
                                    {{ user.username }},
                                {% endfor %}
							</td>

							<td class="project-actions text-right">
								<a class="btn btn-info btn-sm" href="{% url 'admin:teams:team-edit' id=team.pk %}">
								<i class="fas fa-pencil-alt">
								</i>
								Edit
								</a>
								<button class="btn btn-danger btn-sm" onclick="setDataToModal({{ team.pk }})" data-toggle="modal" data-target="#confirm-delete" id="button-confirm-delete" data-id="{{ team.pk }}">
								<i class="fas fa-trash">
								</i>
								Delete
								</button>
							</td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
        <div class="row">
            <div class="col-12">
                <a href="{% url 'admin:teams:team-add' %}"  value="Add new Skills" class="btn btn-success float-right">Add new Team</a>
            </div>
        </div>
	</section>
	<!-- /.content -->
</div>
{% include 'modal.html' %}
{% endblock %}
{% block action_script %}

<script type="text/javascript">
    function setDataToModal(dataId){
        $('#confirm-delete .btn-ok').attr('data-id', dataId);
    }

    $(document).on('click','#confirm-delete #delete-object', function(){
       let el = document.getElementsByName("csrfmiddlewaretoken");
       let csrf_value = el[0].getAttribute("value");
       let id = $(this).attr('data-id');
       $.ajax({
           url: '{% url 'admin:teams:team-delete' %}',
           type: 'POST',
           data: {
               'id': $(this).attr('data-id'),
               'csrfmiddlewaretoken': csrf_value,
           },
           dataType: 'json',
           success: function (data) {
               if (data.code == 'success') {
                   window.$('#confirm-delete')
                       .one('hidden.bs.modal', () => {
                           $('#item-'+id).remove();
                       })
                       .modal('hide');
               }
           }
       });
    });
</script>
{% endblock %}
